/* You can add global styles to this file, and also import other style files */

$primary: #8514F5;
$enable-rounded: false;

@import '@angular-schule/workshop-styles/index';

h1, h2 {
  color: darken($primary, 20%);
}

